.element__button{
    width: 22px;
    height: 19px;
    margin: 4.5px 5px 0 auto;
    border: none;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s linear;
}
.element__button-active{
  background-image: url(../../../images/like-active.svg);
  opacity: 1;
}
.element__button:hover{
  opacity: 0.5;
}
